#!/usr/bin/env python3

import json
import netifaces


def get_main_ip():
    gateways = netifaces.gateways()
    default = gateways.get("default")
    if not default or len(default) == 0:
        return None
    _, dev = default.popitem()[1]
    devAddrs = netifaces.ifaddresses(dev)[netifaces.AF_INET]
    if not devAddrs or len(devAddrs) == 0:
        return None
    return devAddrs[0]["addr"]


with open("{{ step_ca_home }}/config/ca.json", "r+") as f:
    data = json.load(f)
    f.seek(0)
    data['authority']['claims'] = {"maxTLSCertDuration": "87672h", "defaultTLSCertDuration": "87672h"}
    data['dnsNames'].append(get_main_ip())
    json.dump(data, f, indent=2)
