export CORIOLIS_METAL_ENDPOINT={{ coriolis_metal_hub_endpoint }}
export CORIOLIS_METAL_CA_CERT={{ coriolis_metal_hub_ca_cert_path }}
export CORIOLIS_METAL_CLIENT_CERT={{ coriolis_metal_hub_client_cert_path }}
export CORIOLIS_METAL_CLIENT_KEY={{ coriolis_metal_hub_client_key_path }}
