docker_registry: registry.cloudbase.it
docker_push_images: false
docker_images_tag: latest
docker_template: ubuntu18.04
kolla_branch: master
kolla_openstack_release: master
kolla_containers_namespace: custom
coriolis_containers_namespace: custom
vmware_disklib_url: https://cloudbase.it/downloads/VMware-vix-disklib-6.0.3-4888596.x86_64.tar.gz
libnfs_rpm_url: https://cloudbase.it/downloads/libnfs-1.10.0-1.x86_64.rpm
libqemu_url: https://cloudbase.it/downloads/libqemu.so.gz
coriolis_config_directory_path: /etc/coriolis
coriolis_certs_path: "{{ coriolis_config_directory_path }}/ssl"
export_providers: ['openstack', 'oracle-vm', 'opc', 'vmware', 'azure', 'aws', 'scvmm']
import_providers: ['openstack', 'oracle-vm', 'opc', 'oci', 'azure', 'scvmm']

# In the case that some repo needs to be cloned on some other branch instead of
# the default cloudbase/master that can be set using the two following dict
# variables.
# In both of these dicts, the key is expected to be either a provider name
# (like in the export/import_providers lists above) or one of the following:
# "core", "web", "licensing".
# Examples:
# {openstack: cloudbase, aws: cloudengineer, etc: etc} - owner dict
# {openstack: master, aws: branch2, etc: etc} - branch dict
custom_repo_owner_names: {}
custom_repo_branch_names: {}
