eventlet
keystoneauth1
keystonemiddleware
jsonschema
PyMySQL
oslo.concurrency
oslo.config
oslo.context
oslo.db
oslo.i18n
oslo.log
oslo.messaging
oslo.middleware
oslo.serialization
oslo.service>=1.12.0
oslo.versionedobjects
paramiko>=2.1.0
paste
pbr
psutil
pyOpenSSL
python-keystoneclient
python-barbicanclient
python-swiftclient>=3.2
git+https://github.com/cloudbase/pywinrm.git@requests#egg=pywinrm
PyYAML
requests
mysqlclient
sqlalchemy
webob
