eventlet
keystoneauth1
keystonemiddleware
PyMySQL
oslo.concurrency
oslo.config
oslo.context
oslo.db
oslo.i18n
oslo.log
oslo.messaging
oslo.middleware
oslo.serialization
oslo.service>=1.12.0
oslo.versionedobjects
paramiko
paste
pbr
psutil
python-cinderclient
python-glanceclient>=2.0.0
python-keystoneclient
python-neutronclient
python-novaclient
python-barbicanclient
pyVmomi
pywinrm
PyYAML
requests
sqlalchemy
webob
