eventlet
keystoneauth1
keystonemiddleware
jsonschema
PyMySQL
oslo.cache
oslo.concurrency
oslo.config
oslo.context>=2.19.1
oslo.db
oslo.i18n
oslo.log
oslo.messaging
oslo.middleware
oslo.policy
oslo.serialization
oslo.service>=1.12.0
oslo.versionedobjects
paramiko>=2.1.0
paste
pbr
psutil
pyOpenSSL
python-keystoneclient
# required by `oslo_cache` when imported by `keystonemiddleware`
python-memcached>=1.56
python-barbicanclient
python-swiftclient>=3.2
git+https://github.com/cloudbase/pywinrm.git@requests#egg=pywinrm
PyYAML
redis
requests
mysqlclient
schedule
strict-rfc3339
sqlalchemy
taskflow
webob
sshtunnel
requests-unixsocket
