"admin": "is_admin:True"
"admin_or_owner": "is_admin:True or project_id:%(project_id)s"
"migration:endpoints:create": "rule:admin_or_owner"
"migration:endpoints:list": "rule:admin_or_owner"
"migration:endpoints:show": "rule:admin_or_owner"
"migration:endpoints:update": "rule:admin_or_owner"
"migration:endpoints:delete": "rule:admin_or_owner"
"migration:endpoints:validate_connection": "rule:admin_or_owner"
"migration:endpoints:list_instances": "rule:admin_or_owner"
"migration:endpoints:get_instance": "rule:admin_or_owner"
"migration:endpoints:list_networks": "rule:admin_or_owner"
"migration:endpoints:list_storage": "rule:admin_or_owner"
"migration:endpoints:list_destination_options": "rule:admin_or_owner"
"migration:endpoints:list_source_options": "rule:admin_or_owner"
"migration:endpoints:list_source_minion_pool_options": "rule:admin_or_owner"
"migration:endpoints:list_destination_minion_pool_options": "rule:admin_or_owner"
"migration:providers:list": "rule:admin_or_owner"
"migration:migrations:create": "rule:admin_or_owner"
"migration:migrations:list": "rule:admin_or_owner"
"migration:migrations:show": "rule:admin_or_owner"
"migration:migrations:cancel": "rule:admin_or_owner"
"migration:migrations:delete": "rule:admin_or_owner"
"migration:transfers:create": "rule:admin_or_owner"
"migration:transfers:list": "rule:admin_or_owner"
"migration:transfers:show": "rule:admin_or_owner"
"migration:transfers:delete_disks": "rule:admin_or_owner"
"migration:transfers:delete": "rule:admin_or_owner"
"migration:transfers:update": "rule:admin_or_owner"
"migration:transfer_schedules:create": "rule:admin_or_owner"
"migration:transfer_schedules:list": "rule:admin_or_owner"
"migration:transfer_schedules:show": "rule:admin_or_owner"
"migration:transfer_schedules:update": "rule:admin_or_owner"
"migration:transfer_schedules:delete": "rule:admin_or_owner"
"migration:transfer_executions:create": "rule:admin_or_owner"
"migration:transfer_executions:list": "rule:admin_or_owner"
"migration:transfer_executions:show": "rule:admin_or_owner"
"migration:transfer_executions:cancel": "rule:admin_or_owner"
"migration:transfer_executions:delete": "rule:admin_or_owner"
"migration:diagnostics:get": "rule:admin_or_owner"
"migration:regions:create": "rule:admin_or_owner"
"migration:regions:list": "rule:admin_or_owner"
"migration:regions:show": "rule:admin_or_owner"
"migration:regions:update": "rule:admin_or_owner"
"migration:regions:delete": "rule:admin_or_owner"
"migration:services:create": "rule:admin_or_owner"
"migration:services:list": "rule:admin_or_owner"
"migration:services:show": "rule:admin_or_owner"
"migration:services:update": "rule:admin_or_owner"
"migration:services:delete": "rule:admin_or_owner"
"migration:minion_pools:create": "rule:admin_or_owner"
"migration:minion_pools:list": "rule:admin_or_owner"
"migration:minion_pools:show": "rule:admin_or_owner"
"migration:minion_pools:update": "rule:admin_or_owner"
"migration:minion_pools:delete": "rule:admin_or_owner"
"migration:minion_pools:allocate": "rule:admin_or_owner"
"migration:minion_pools:refresh": "rule:admin_or_owner"
"migration:minion_pools:deallocate": "rule:admin_or_owner"
