"admin": "role:admin"
"member": "role:member"
"project_member": "rule:member and project_id:%(project_id)s"
"admin_or_owner": "rule:admin or project_id:%(project_id)s"
"admin_or_member": "rule:admin or rule:project_member"

"migration:providers:list": "rule:admin_or_owner"

"migration:endpoints:create": "rule:admin_or_member"
"migration:endpoints:list": "rule:admin_or_owner"
"migration:endpoints:show": "rule:admin_or_owner"
"migration:endpoints:update": "rule:admin_or_member"
"migration:endpoints:delete": "rule:admin_or_member"
"migration:endpoints:validate_connection": "rule:admin_or_owner"
"migration:endpoints:list_instances": "rule:admin_or_owner"
"migration:endpoints:get_instance": "rule:admin_or_owner"
"migration:endpoints:list_networks": "rule:admin_or_owner"
"migration:endpoints:list_storage": "rule:admin_or_owner"
"migration:endpoints:list_source_options": "rule:admin_or_owner"
"migration:endpoints:list_destination_options": "rule:admin_or_owner"
"migration:endpoints:list_source_minion_pool_options": "rule:admin_or_owner"
"migration:endpoints:list_destination_minion_pool_options": "rule:admin_or_owner"
"migration:endpoints:export_inventory": "rule:admin_or_owner"

"migration:deployments:create": "rule:admin_or_member"
"migration:deployments:list": "rule:admin_or_owner"
"migration:deployments:show": "rule:admin_or_owner"
"migration:deployments:cancel": "rule:admin_or_member"
"migration:deployments:delete": "rule:admin_or_member"

"migration:transfers:create": "rule:admin_or_member"
"migration:transfers:list": "rule:admin_or_owner"
"migration:transfers:show": "rule:admin_or_owner"
"migration:transfers:delete_disks": "rule:admin_or_member"
"migration:transfers:delete": "rule:admin_or_member"
"migration:transfers:update": "rule:admin_or_member"

"migration:transfer_executions:create": "rule:admin_or_member"
"migration:transfer_executions:list": "rule:admin_or_owner"
"migration:transfer_executions:show": "rule:admin_or_owner"
"migration:transfer_executions:cancel": "rule:admin_or_member"
"migration:transfer_executions:delete": "rule:admin_or_member"

"migration:transfer_schedules:create": "rule:admin_or_member"
"migration:transfer_schedules:list": "rule:admin_or_owner"
"migration:transfer_schedules:show": "rule:admin_or_owner"
"migration:transfer_schedules:update": "rule:admin_or_member"
"migration:transfer_schedules:delete": "rule:admin_or_member"

"migration:minion_pools:create": "rule:admin_or_member"
"migration:minion_pools:list": "rule:admin_or_owner"
"migration:minion_pools:show": "rule:admin_or_owner"
"migration:minion_pools:update": "rule:admin_or_member"
"migration:minion_pools:delete": "rule:admin_or_member"
"migration:minion_pools:allocate": "rule:admin_or_member"
"migration:minion_pools:refresh": "rule:admin_or_member"
"migration:minion_pools:deallocate": "rule:admin_or_member"

"migration:diagnostics:get": "rule:admin_or_owner"
"migration:regions:create": "rule:admin"
"migration:regions:list": "rule:admin_or_owner"
"migration:regions:show": "rule:admin_or_owner"
"migration:regions:update": "rule:admin"
"migration:regions:delete": "rule:admin"
"migration:services:create": "rule:admin"
"migration:services:list": "rule:admin"
"migration:services:show": "rule:admin_or_owner"
"migration:services:update": "rule:admin"
"migration:services:delete": "rule:admin"
