<VirtualHost *:443>

    SSLEngine on
    SSLproxyEngine on
    SSLCertificateFile {{ coriolis_certs_path }}/coriolis.crt
    SSLCertificateKeyFile {{ coriolis_certs_path }}/coriolis.key

    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT, PATCH"
    Header always set Access-Control-Max-Age "1000"
    Header always set Access-Control-Allow-Headers "x-requested-with, X-Auth-Token, X-Subject-Token, Content-Type, origin, authorization, accept, client-security-token"
    Header always set Access-Control-Allow-Credentials "true"
    Header add Access-Control-Expose-Headers "X-Subject-Token"
    # Added a rewrite to respond with a 200 SUCCESS on every OPTIONS request.
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

    Define keystone_auth_url_v3 {{ keystone_auth_url_v3 }}
    Define barbican_endpoint_url {{ barbican_endpoint_url }}
    Define coriolis_base_endpoint_url {{ coriolis_base_endpoint_url }}
    Define licensing_server_base_url {{ licensing_server_base_url }}
    Define licensing_ui_server_base_url {{ licensing_ui_server_base_url }}
    Define coriolis_internal_url {{ coriolis_internal_url }}

    # Proxy matches paths to appropiate services
    RewriteRule "^/identity/(.*)$" "${keystone_auth_url_v3}/$1" [P]
    RewriteRule "^/barbican/(.*)$" "${barbican_endpoint_url}/$1" [P]
    RewriteRule "^/coriolis/(.*)$" "${coriolis_base_endpoint_url}/$1" [P]
    RewriteRule "^/licensing/(.*)$" "${licensing_server_base_url}/$1" [P]
    RewriteRule "^/licensing-ui/(.*)$" "${licensing_ui_server_base_url}/$1" [P]
    RewriteRule "^/((?!identity|coriolis|barbican|licensing|licensing-ui).*)$" "${coriolis_internal_url}/$1" [P]

</VirtualHost>

<VirtualHost *:80>
    RewriteEngine On
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>
