[DEFAULT]
messaging_transport_url=rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/
log_dir=/var/log/coriolis
debug={{ coriolis_debug }}

logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s [01;35m%(instance)s[00m
logging_debug_format_suffix = [00;33mfrom (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d[00m
logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[00;36m-%(color)s] [01;35m%(instance)s%(color)s%(message)s[00m
logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[01;36m%(request_id)s [00;36m %(color)s] [01;35m%(instance)s%(color)s%(message)s[00m

providers=coriolis_provider_openstack.ExportProvider,coriolis_provider_openstack.ImportProvider,coriolis_provider_vmware_vsphere.ExportProvider,coriolis_provider_oracle_vm.ImportProvider

[database]
connection = mysql://{{ coriolis_database_name }}:{{ coriolis_database_password }}@{{ database_address }}/{{ coriolis_database_name }}

[keystone_authtoken]
auth_type = password
auth_uri = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default
project_name = service
project_domain_id = default

[trustee]
auth_type = password
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}/v3
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default

[keystone]
auth_url = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}

[worker]
export_base_path = {{ coriolis_export_base_path }}

[openstack_migration_provider]
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate image IDs will need to be provided for the
# temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
migr_image_id_map = linux: 283bdce4-112c-4758-b06a-7e5985a9cd15, windows: 63d8f1a4-3192-4edc-b113-0d099b4bc458

glance_api_version = 1
hypervisor_type = kvm
delete_disks_on_vm_termination = False
# default_security_groups = secgroup1, secgroup2
migr_network_name = private
migr_worker_use_fip = True
migr_fip_pool_name = public
migr_flavor_name = m1.small
migr_worker_use_config_drive = false
glance_upload = true
disk_format = qcow2
container_format = bare
set_dhcp = true

[windows_images]
virtio_iso_url = https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/stable-virtio/virtio-win.iso
cloudbaseinit_x64_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x64.zip
cloudbaseinit_x86_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x86.zip

[oracle_vm_migration_provider]
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate template names will need to be provided for the
# temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
migr_template_name_map = linux: OracleLinux7_template, windows: WS2016_template
migr_template_username = root
migr_template_password = Passw0rd
migr_network_name = Management
server_pool_name = pool1
repository_name = repo1
# virtual_disk_clone_type can be: THIN_CLONE, SPARSE_COPY, NON_SPARSE_COPY
virtual_disk_clone_type = THIN_CLONE
windows_pv_drivers_url = https://cloudbase.it/downloads/ovm_win_pv_drivers_all_323.zip

[serialization]

temp_keypair_password = {{ temp_keypair_password }}
