[DEFAULT]
messaging_transport_url=rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/
log_dir=/var/log/coriolis
debug={{ coriolis_debug }}
providers=coriolis_provider_openstack.ExportProvider,coriolis_provider_openstack.ImportProvider,coriolis_provider_vmware_vsphere.ExportProvider,coriolis_provider_oracle_vm.ImportProvider

[database]
connection = mysql://{{ coriolis_database_name }}:{{ coriolis_database_password }}@{{ database_address }}/{{ coriolis_database_name }}

[keystone_authtoken]
auth_type = password
auth_uri = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default
project_name = service
project_domain_id = default

[trustee]
auth_type = password
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}/v3
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default

[keystone]
auth_url = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}

[worker]
export_base_path = {{ coriolis_export_base_path }}

[openstack_migration_provider]
migr_image_name_map = linux: Ubuntu 15.10, windows: Nano

migr_flavor_name = coriolis-demo-migr

[oracle_vm_migration_provider]
migr_template_name_map = linux: OracleLinux7_template, windows: WS2016_template
migr_template_username = root
migr_template_password = coriolis
migr_network_name = Management
server_pool_name = pool1
repository_name = repo1
# virtual_disk_clone_type can be: THIN_CLONE, SPARSE_COPY, NON_SPARSE_COPY
virtual_disk_clone_type = THIN_CLONE
windows_pv_drivers_url = https://cloudbase.it/downloads/ovm_win_pv_drivers_all_323.zip

[serialization]

temp_keypair_password = {{ temp_keypair_password }}

[proxy]
# url = http://proxy:3128
# Optional proxy credentials
# username =
# password =
# Optional comma separated list of proxy exclusions
# no_proxy =
