{
  "ca_certificate": "{{ metal_hub_endpoint_ca_certificate }}",
  "certificate": "{{ metal_hub_endpoint_certificate }}",
  "key": "{{ metal_hub_endpoint_key }}",
  "endpoint": "{{ coriolis_metal_hub_endpoint }}"
}
