[oci_migration_provider]
# Mapping specifying the IDs of machine images already available
# on OCI which will be used for the temporary worker VMs deployed by
# Coriolis to perform disk transfers and other operations.
# The images must be pre-configured to setup of a user/authorized key/password
# through metadata using cloud-init. (or Cloudbase-init on Windows)
# The images must be available within the OCI region being migrated to, as
# well as be usable by the OCI user credentials provided to Coriolis.
# These images can also be set on a per-Migration/Replica basis within the
# "Destination Environment" options in the UI/CLI if needed.
# Valid keys are 'linux' and 'windows'.
# Below are defaults for the "us-phoenix-1" OCI region:
# migr_image_map = linux: ocid1.image.oc1.phx.aaaaaaaatel6prh7kwlb77zp6m4v523pegz3fh2j5ulq2lwtmhionpy37wkq, windows: ocid1.image.oc1.phx.aaaaaaaam3rbuegojxzdomvbp6qa2fb45ex24ng7c5ykawuqmomerfblveaq

# Whether to use paravirtualized mode by default for
# instances that use BIOS.
default_to_pv_mode = true

# Default shape name used for final instances
shape_name = VM.Standard1.2

# Default shape name used for worker instances
# during migrations.
migr_shape_name = VM.Standard1.2

# Default network name used for worker instances
# during migrations.
# migr_subnet_id =

# Default compartment in which the migration should take place.
# compartment =

# Whether or not to set Public IPs on the Migrated/Replicated VMs:
set_public_ip = True

# Default attach type to be used when attaching secondary
# disks to the migrated instance. Accepted values:
# 'iscsi', 'emulated', 'paravirtualized'
default_attach_type = paravirtualized

# URL to a .zip file containing Windows paravirtual drivers to be injected
# within Windows instances being Migrated to OCI.
# The URL must be accessible from the temporary worker VMs which will be
# deployed on OCI. (namely, attached to the network indicated by the
# 'migr_subnet_id' option presented above)
# The structure of the driver tree from within the .zip file is fixed. Please
# refer to the documentation page of the Coriolis OCI plugin for more
# information on how to obtain the .zip file containing the drivers:
# https://cloudbase.it/oracle-cloud-infrastructure-oci-coriolis-plugin/
# windows_virtio_zip_url = https://example.com/virtio-1.1.3.zip

# What mechanism to use when sending disk data from the Coriolis installation
# to the temporary VMs on the target OCI to be written to their
# respective disk. The HTTPS-based transfer mechanism (TCP/5566) is faster but
# might not work if there are firewalls in the way. The SSH-based transfer
# mechanism (TCP/22) is more costly but will be allowed by most firewalls since
# SSH access from the Coriolis installation to the temporary worker VM is always
# required. Coriolis automatically sets security groups rules for the temporary
# VMs accordingly.
# Choices are 'SSH' or 'HTTPS'. Default is 'HTTPS'.
data_transfer_mechanism = HTTPS

# The Dedicated VM Host OCID to use when launching the migrated instance.
# dedicated_vm_host =

# Location of the Cloudbase-Init ZIP for amd64 systems
cloudbaseinit_x64_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_Stable_x64.zip
