[oci_migration_provider]
# You need to configure this to match your situation
# there is no sensible default that can work globally. The images
# are specific to the region you are in. The bellow ones are from
# us-phoenix-1
# migr_image_map = linux: ocid1.image.oc1.phx.aaaaaaaatel6prh7kwlb77zp6m4v523pegz3fh2j5ulq2lwtmhionpy37wkq, windows: ocid1.image.oc1.phx.aaaaaaaam3rbuegojxzdomvbp6qa2fb45ex24ng7c5ykawuqmomerfblveaq

# Default shape name used for final instances
shape_name = VM.Standard1.2

# Default shape name used for worker instances
# during migrations.
migr_shape_name = VM.Standard1.2

# Default network name used for worker instances
# during migrations.
# migr_subnet_id =

# Default compartment in which the migration should take place.
# compartment =

# Whether or not to set Public IPs on the Migrated/Replicated VMs:
set_public_ip = True

# The GA drivers can be found at:
# https://objectstorage.us-ashburn-1.oraclecloud.com/p/2dopDVhGFBBsBi7xQNuEEmrSK9KxA3ZsY31EblRf_xI/n/internalcraigcarl/b/drivers/o/virtio-1.1.3.zip
# but for some reason, trying to download it using the usual OS morpher downloaders from that location, errs out
# I recommend you host it on some other web server somewhere
# windows_virtio_zip_url = https://example.com/virtio-1.1.3.zip
