[oracle_vm_migration_provider]
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate template names will need to be provided for the
# temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
# migr_template_name_map = linux: OracleLinux7_template, windows: WS2016_template

# Default migration template guest OS username.
# migr_template_username_map = linux: root, windows: Administrator

# Default migration template guest OS password.
# migr_template_password_map = linux: Passw0rd, windows: Passw0rd

# Default network name used for worker instances
# during migrations.
migr_network_name = management

# Default server pool name.
server_pool_name = pool1

# Default repository name.
repository_name = repo1

# Whether or not to just create VMs but skip powering them on.
leave_migrated_vm_off = False

# XEN VM domain type.
# can be 'XEN_PVM', 'XEN_HVM', 'XEN_HVM_PV_DRIVERS', 'LDOMS_PVM', 'UNKNOWN'
vm_domain_type = XEN_HVM_PV_DRIVERS

# virtual_disk_clone_type can be: THIN_CLONE, SPARSE_COPY, NON_SPARSE_COPY
virtual_disk_clone_type = THIN_CLONE

windows_pv_drivers_url = https://cloudbase.it/downloads/app/ovm/ovm_win_pv_drivers_all_323_bare_root.zip

# For export we may need to use a different template than the linux one
# specified in the template map. We specify that here with its credentials
# export_template_name = OracleLinux7_template
# export_template_username = root
# export_template_password = Passw0rd
